.detalhes {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
}

.detalhes span {
    display: block;
    font-size: 32px;
}

.detalhes a {
    text-decoration: none;
    text-align: center;
}

.detalhes span {
    margin-bottom: 8px;
}

.detalhes q {
    width: 100px;
    height: 100px;
    background: #cdcdcd;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
}

.cancel q {
    background: #DE0A16;
}

.cancel span {
    color: #DE0A16;
}

.pago q {
    background: #24CD09;
}

.pago span {
    color: #24CD09;
}