.item a{
    width: 100%;
    background: #F6F6F6;
    border-radius: 16px;
    padding: 16px 16px;
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    text-decoration: none;
}

.item .img {
    background: #E5E5E5;
    height: 120px;
    width: 120px;
    border-radius: 20px;
}

.item .txt {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.item .txt div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item .txt div:last-child {
    justify-content: flex-end;
}

.item .txt div:last-child span {
    font-size: 18px;
    color: #192540;
}

.item .txt h2 {
    font-size: 24px;
    color: #262525;
    font-weight: 600;
    margin-bottom: 8px;
}

.item .txt h3 {
    font-size: 18px;
    color: #192540;
    font-weight: 600;
    margin-bottom: 8px;
}

.item .txt h3 span {
    display: inline-block;
    background: #192540;
    border-radius: 50%;
    color: #ffffff;
    width: 24px;
    height: 24px;
    text-align: center;
    font-weight: 13px;
}

.item .txt h4 {
    font-size: 18px;
    color: #DE0A16;
    font-weight: 600;
}