
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');

/*RESET*/
*, *:before, *:after{
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
}


html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-size-adjust: none;
}

footer, header, nav, section, main{
  display: block;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-size: 100%;
  line-height: 1.3;
  cursor: default;
}

/*
========================================
Typography
========================================
*/


b, strong {
  font-weight: bold;
}

em,
i {
font-style:italic;
}

/*
========================================
Img
========================================
*/

img,
picture,
video,
embed,
object {
  max-width: 100%;
}

img {
  display: inline-block;
  vertical-align: middle;
}

/**/
body {
   background:#ffffff;
   font-family: 'Poppins', sans-serif;
   color:#000000;
   font-weight:500;
}

p {
   font-size: 1rem;
   font-family: 'Poppins', sans-serif;
   color:#fff;
   line-height: 2;
   font-weight: 500;
   letter-spacing: 0.3px;
   margin-bottom: 20px;
}


/*
========================================
GERAL
========================================
*/

.displayContentMain {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 0 48px;
}

.contentMain {
  padding: 24px 0;
  width: 800px;
}

.checkbox {
  margin: 20px 0 30px 0;
  display: flex;
  gap: 25px 20px;
}

.checkbox .item {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.checkbox .item img {
  height: 70px;
  width: 90px;
  background: rgb(63, 106, 214);
  position: relative;
  z-index: 3;
}

.checkbox .item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Criar o checkbox customizado */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
  border-radius: 16px;
  transition: 0.3s all;
  border: 4px solid #eee;
}

/* Adicionar uma cor de fundo cinza ao passar o mouse */
.checkbox .item:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Quando o checkbox é clicado, adicionar um fundo rosa */
.checkbox .item input:checked ~ .checkmark {
  background-color: #EFC3C3;
  border: 4px solid #B8000A;
}

.btnNone {
  opacity: 0;
  visibility: hidden;
}

.btnBlock {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 15px;
}

.btnBlock button {
  color: #ffffff;
  display: block;
  background: #de0a16;
  border-radius: 25px;
  font-size: 22px;
  padding: 8px 16px;
  border: 1px solid #de0a16;
  cursor: pointer;
  box-shadow: 1px 1px 7px 1px rgb(222 10 22 / 37%);
}